html
  head
    title= 'Lise Webapp'
  body
    h1= 'Welcome to LISE'

    p Choose a file to upload or enter PDB ID.
    
    form(action='/input', method='POST' enctype='multipart/form-data')
        input(type='file', accept='.pdb' name='file')
        input(type='submit', value='Upload File')
    
    form(action='/input', method='GET')
        input(type='text', name='id')
        input(type='submit', value='Submit')